/* CSS */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
 }
 
.header {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding: 0 1em;
}

.title {
  font-size: calc(3vmin + 0.7rem);
}

.subtitle {
  font-size: calc(1vmin + 0.7rem);
  margin: 1rem 0;
}

/* Map */
.map-container {
  height: 100%;
  padding: 1px 2vmin 2vmin 2vmin;
}
.map-frame {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

/* Support for None Flex browsers ( Very Small Amount )
 Will at least render, users have to scroll map abit. */
@supports (display: flex) {
  .map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    height: 0;
  }

  .map-frame {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

#mapid { 
  height: 100%;
}

/* Leaflet pop-up */
.locate-map-marker {
  display: block;
  width: 100%;
  height: 100%;
  background: url("./5fac866bdfaa2fc80570896fd313bc2c.svg") no-repeat center;
  background-size: 42%;
}

.thumbnail {
  display: block
}

/* Utility */
.center-align {
  margin: 0 auto;
}